// Styling markdown output

// Code formatting
pre {
  border-left: $spacer-1 solid $color-border;
  margin: $spacer-3 0;
  padding-left: 16px;
  width: (9 / 12 * 100%); // matches col-9
  overflow-x: auto;
}

code {
  color: $color-code;
  font-size: $body-font-size;
  padding: 1px 0px;
}


.prose {

  flex-grow: 1;

  a {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: underline;
    }
  }

  p, ol, ul, label {
    font-size: $prose-font-size;
    margin-bottom: 1em;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: (10 / 12 * 100%); // matches col-10
    }

  }

  input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    @media (max-width: $breakpoint-lg) {
      width: 90% !important;

    }
  }

  input[type=submit] {
    width: 20%;
    color: $white;
    background: $black;
    border: 1px solid $black;

    &:hover {
      border: 1px solid $white;
    }
  }

  ul, ol {
    padding-left: 40px;
  }

  li {
    margin-bottom: 0.5em;

    ul li, ol li {
      margin-bottom: 0;
    }
  }

  img {

    max-width: 100%;

    @media (min-width: $breakpoint-lg) {
      max-width: (12 / 10 * 100%); // make image fill width of container on desktop
    }

  }

  blockquote {
    line-height: 1.375;
    padding-left: 20px;
    margin: 40px 0 40px -16px;
    border-left: $spacer-1 solid $color-border;
    font-style: italic;

    p {
      font-size: 24px;
    }

    @media (min-width: $breakpoint-lg) {
      padding-left: $spacer-3;
      margin: $spacer-4 0 $spacer-4 -40px;
      max-width: (11 / 10 * 100%);

      p {
        font-size: 32px;
      }

    }

  }

  hr {
    color: $color-body-text;
    border-style: solid;
    border-width: thin;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  dt {
    font-weight: bold;
    font-style: italic;
    line-height: 1.25;
  }

  dd {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  // Markdown tables
  table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    overflow: auto;
    // For Firefox to horizontally scroll wider tables.
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
      text-align: left;
    }

    th,
    td {
      padding: $spacer-2 $spacer-3 $spacer-2 2px;
      border-top: 1px solid $color-body-text;
      border-bottom: 1px solid $color-body-text;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid $color-body-text;
    }

    tr th {
      border-top: 2px solid $color-body-text;
      border-bottom: 2px solid $color-body-text;
    }
  }

  .custom-chart {

    text-align: center;
    max-width: 822px;
    margin: 1.5em 0;

    @media (min-width: 600px) {
      // For screens wider than or equal to 600px, use embedded HTML content
      background-image: none; // Remove SVG background
      .html-content {
        max-width: 100%;
        max-height: 100%;
        display: block; // Show the embedded HTML content
      }
      .svg-content {
        display: none; // Hide the SVG
      }
    }
  }

  @media (max-width: 600px) {
    .custom-chart .html-content {
      display: none;
    }

    // Show the SVG content by default for smaller screens
    .custom-chart .svg-content {
      display: block;
    }
  }

  .custom-chart-grid {

    text-align: center;
    max-width: 822px;
    height: 100%;
    margin: 1.5em 0;

    @media (min-width: 822px) {
      // For screens wider than or equal to 822px, use embedded HTML content
      background-image: none; // Remove SVG background
      .html-content-grid {
        max-width: 100%;
        max-height: 100%;
        display: block; // Show the embedded HTML content
      }
      .svg-content-grid {
        display: none; // Hide the SVG
      }
    }
  }

  @media (max-width: 822px) {
    .custom-chart-grid .html-content-grid {
      display: none;
    }

    // Show the SVG content by default for smaller screens
    .custom-chart-grid .svg-content-grid {
      max-height: 100%;
      display: block;
    }
  }
}



